*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  display:block;
}

.preview.baku {
  background-image: url(/images/baku.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  float:right;
}

h1
{
  display:block;
  margin-left:20px;
  padding-top:20px;
}

.preview.london {
  background-image: url(/images/london.png);
  background-repeat:no-repeat;
  background-size:100%;
  float:left;
}

.preview.madrid {
  background-image: url(/images/madrid.jpg);
  background-repeat:no-repeat;
  background-size:100%;
  float: right;
}

.preview.rome {
  background-image: url(/images/rome.jpg);
  background-repeat:no-repeat;
  background-size:100%;
  float: left;
}

.preview {
font-size: 1.5em;
text-align:left;
font-style:normal;
font-weight: bold;
font-family: sans-serif;
width:300px;
height: 300px;
margin:20px auto;
}

.container >h1 {
  font-size: 1.5em;
  text-align: center;
  font-style: normal;
  font-family:sans-serif;
  font-variant-caps: all-small-caps;
  padding-bottom: 10px;
}

@media screen and (min-width: 575px){
   .preview {
    margin:10px;
    width: 45%;
  }
}


@media screen and (min-width: 1199px){
   .preview  {
     margin:auto;
     display:block;
     width: 45%;
  }
}
