*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.preview.baku {
  background-image: url(../images/baku.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1
{
  display:block;
  margin-left:20px;
  padding-top:20px;
}

.preview.london {
  background-image: url(../images/london.png);
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.preview.madrid {
  background-image: url(../images/madrid.jpg);
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.preview.rome {
  background-image: url(../images/rome.jpg);
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.preview {
font-size: 2em;
text-align:left;
font-style:normal;
font-weight: bold;
font-family: sans-serif;
width:400px;
height: 200px;
margin-left: 8px;
margin-right: 8px;
margin-right: 8px;
margin-bottom: 20px;
margin-top:20px;
display: inline-block;
}

.container >h1 {
  font-size: 1em;
  font-style: normal;
  text-align: center;
  font-family:sans-serif;
  font-variant-caps: all-small-caps;
  padding-bottom: 10px;
}

@media screen and (min-width: 575px){
   .preview {
    width: 45.8%;
    margin: 1%;
  }
}

@media screen and (min-width: 1199px){
   .preview  {
     margin-left:1%;
     width: 22.8%;
     }
  }

  .container >h1 {
    font-size: 3em;
  }
}
